.Album{
     /* width: 200px; */
    /* height: 89%; */
    height: 740px;
    overflow-y: scroll;
    list-style-type: none;
    /* border: 2px solid black; */
    border-radius: 10px;
    margin: 10px;
    
    background-color: rgb(34, 34, 34);
    /* -moz-box-shadow: 0 0 20px  rgb(134, 134, 134);
    -webkit-box-shadow: 0 0 20px rgb(134, 134, 134);
    box-shadow: 0 0 20px  rgb(134, 134, 134); */
    margin-bottom: 10px; 
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
.heading3{
    font-family: 'Oswald', sans-serif;
    /* margin-left: 150px; */
    color: white;
    margin: 0px;
    font-size: 60px;
}
.para3{
    font-weight: bold;
    color: white;
    font-size: 30px;
    margin-left: 0px;
    margin-top: 0px;
}

.albumItemCard{
    color: white;
    margin: 10px;
    background-color: rgb(29, 29, 29);
    height: auto;
    border-radius: 5px;
}
.albumItemCard:hover{
    background-color: rgb(48, 48, 48);
}

.itemImage{
    transition: 1s;
    height: 72px;
    margin: 6px;
}
.index{
    font-size: 20px;
    padding-left: 46px;
}

.hed{
    font-family: 'Oswald', sans-serif;
    padding-left: 46px;
    font-size: 35px;
}
.ran{
    font-family: 'Oswald', sans-serif;
    padding-left: 46px;
}
.time{
    font-family: 'Oswald', sans-serif;
    padding-left: 46px;
    font-size: 22px;
}
.itemImage:hover{
    height: 76px;
}