
.leftnav{
    /* width: 200px; */
    height: 710px;
    display: flex;
    align-items: center;
    /* justify-content:center; */
    list-style-type: none;
    /* border: 2px solid black; */
    border-radius: 10px;
    margin: 0px;
    color: white;
    background-color: rgb(34, 34, 34);
    /* -moz-box-shadow: 0 0 20px  rgb(134, 134, 134);
    -webkit-box-shadow: 0 0 20px rgb(134, 134, 134);
    box-shadow: 0 0 20px  rgb(134, 134, 134); */
    
    
}
/* .leftItem5{
    color: white;
} */

#Logo-image{
    /* padding: 20px; */
    height: 100px;
}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
.title-col{
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.quote{
    font-family: 'Oswald', sans-serif;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}
/* 
.list{
    padding: 10px;
    margin: 10px;
} */

.logo-design{
    background-color: rgb(66, 66, 66);
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-around; */
    margin-top: 10px;
    /* border: 4px solid red; */
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    height: 190px;
    width: 385px;
}

.leftItem{
    height: 55px;
    /* display: flex; */
    cursor: context-menu;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    align-items: center;
    /* justify-content: center; */
    width: 385px;
    background-color: rgb(83, 83, 83);
    border-radius: 5px;
    border: 2px solid rgb(255, 255, 255);
    margin: 20px;
}

.leftItem:hover{
    background-color: rgb(121, 121, 121);
}

.leftItem:hover .leftItem-logo1{color: rgb(255, 224, 87);}
.leftItem:hover .leftItem-logo2{color: rgb(10, 195, 252);}
.leftItem:hover .leftItem-logo3{color: rgb(63, 8, 60);}
.leftItem:hover .leftItem-title{color: rgb(34, 34, 34);}

/* .leftItem-logo1:hover{
    color: rgb(97, 0, 81);
}
.leftItem-logo2:hover{
    color: rgb(0, 101, 141);
}
.leftItem-logo2:hover{
    color: rgb(57, 179, 0);
} */

.leftItem-title{
    padding-bottom: 2px;
}
.firstItem{
    margin-top: 90px;
}

.left-nav-row{
    margin-top: 6px;
    margin-left: 22px;
}

